* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif !important;
}

/* NAVBAR */

#main-logo {
  width: 200px;
  height: 90px;
  user-select: none;
}

#alt-logo {
  user-select: none;
  display: none;
}

#sidebar-alt-logo {
  display: none;
}

#nav-alt {
  display: none;
}

#navbar {
  background-color: transparent;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.08); */
  scroll-snap-align: center;
  user-select: none;
}

#nv-itms {
  width: fit-content;
  font-weight: 500;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
  /* NEWLY ADDED */
  transition: background-size 0.2s ease-in-out;
  text-decoration: none;
  background-image: linear-gradient(#d9534f, #d9534f);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
}

#nv-itms:hover,
/* NEWLY ADDED */
#nv-itms:focus,
#nav-itms:active {
  color: #d9534f;
  /* NEWLY ADDED */
  background-size: 100% 0.1em;
  background-position-x: 0%;
  transition: all 0.2s;
}

#offcanvasDarkNavbar {
  /* background: rgba(255, 255, 255, 0.373); */

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* border-radius: 20px; */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

@media only screen and (max-width: 800px) {
  #offcanvasDarkNavbar {
    width: 65px;
    padding-top: 25px;
  }

  #nav-main {
    display: none;
  }

  #side-logo {
    display: none;
  }

  #nav-alt {
    display: block;
  }

  #sidebar-alt-logo {
    padding: 5px 0;
    height: 50px;
    display: block;
  }
}

/* #pop-up-cls-btn {
  color: white;
  font-weight: 700;
  width: 100px;
  border: 2px solid #d9534f;
  border-radius: 1px;
  text-align: center;
  background: #d9534f;
  transition: all 0.5s ease-in-out;
}

#pop-up-cls-btn:hover {
  background: transparent;
  color: #d9534f;
  transform: scale(0.99);
  transition: all 0.5s ease-in-out;
} */

@media only screen and (max-width: 350px) {
  #main-logo {
    display: none;
  }

  #alt-logo {
    padding: 5px 0;
    height: 50px;
    display: block;
  }
}

/* NAVBAR END */

/* HERO PAGE */

#home {
  background-image: url(images/hero/hero-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  border-bottom: 6px solid grey;
  user-select: none;
}

#row {
  /* background-color: green; */
  width: 90%;
  height: 80%;
  margin: auto;
}

#title {
  color: white;
  margin: auto;
  /* padding-right: 300px; */
}

#title1 {
  font-weight: bolder;
}

#title2 {
  font-weight: 400;
  color: rgb(218, 218, 218);
}

#mockups {
  background: url(images/logo/all-ad.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#free-trial-btn {
  color: white;
  font-weight: 700;
  width: 150px;
  border: 2px solid #d9534f;
  text-align: center;
  background: #d9534f;
  transition: all 0.5s ease-in-out;
}

#free-trial-btn:hover {
  background: transparent;
  color: #d9534f;

  transform: scale(0.99);
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 768px) {
  #mockups {
    display: none;
  }
  #free-trial-btn {
    max-width: 100%;
    font-size: medium;
  }
}

@media only screen and (min-width: 1920px) {
  #mockups {
    min-height: 900px;
    min-width: 1000px;
  }
}

/* HERO PAGE END */

/* PRICING */

#pricing {
  min-height: 1100px;
  display: flex;
  align-items: center;
  background: rgb(35, 36, 52);
  background: linear-gradient(
    45deg,
    rgba(35, 36, 52, 1) 50%,
    rgba(217, 83, 79, 1) 100%
  );
  border-bottom: 6px solid grey;
  padding-bottom: 10px;
  padding-top: 10px;
  user-select: none;
}

#pricing-title {
  font-weight: 500;
  font-variant: small-caps;
}

.single-pricing {
  background: #fff;
  padding: 40px 20px;
  /* border-radius: 5px; */
  position: relative;
  z-index: 2;

  box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.09);
  transition: 0.3s;
}

@media only screen and (max-width: 480px) {
  .single-pricing {
    margin-bottom: 30px;
  }
}

.single-pricing:hover {
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.628);
  z-index: 100;
  transform: translate(0, -10px);
}

#advanced {
  border: 1px solid white;
}

.price-label {
  color: #fff;
  background: #d9534f;
  font-size: 16px;
  width: 100px;
  margin-bottom: 15px;
  display: block;
  -webkit-clip-path: polygon(
    100% 0%,
    90% 50%,
    100% 100%,
    0% 100%,
    0 50%,
    0% 0%
  );
  clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
  margin-left: -20px;
  position: absolute;
}

#gold {
  color: #fdd700;
}

.price-head h2 {
  font-weight: 600;
  margin-bottom: 0px;
  text-transform: capitalize;
  font-size: 26px;
}
.price-head span {
  display: inline-block;
  background: #d9534f;
  width: 6px;
  height: 6px;
  /* border-radius: 30px; */
  margin-bottom: 20px;
  margin-top: 15px;
}
.price {
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 0px;
}
/* .single-pricing {
} */
.single-pricing h5 {
  font-size: 14px;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.single-pricing ul {
  list-style: none;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 0;
}

.single-pricing ul li {
  line-height: 35px;
}
.single-pricing a {
  background: none;
  border: 1px solid #d9534f;
  /* border-radius: 5000px; */
  color: #d9534f;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  padding: 10px 45px;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.single-pricing a:hover,
.single-pricing a:focus {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.single-pricing-white {
  background: #232434;
}
.single-pricing-white ul li {
  color: #fff;
}
.single-pricing-white h2 {
  color: #fff;
}
.single-pricing-white h1 {
  color: #fff;
}
.single-pricing-white h5 {
  color: #fff;
}

/* PRICING END */

/* ABOUT */

#services {
  min-height: 100vh;
  background: rgb(35, 36, 52);
  background: linear-gradient(
    135deg,
    rgba(35, 36, 52, 1) 50%,
    rgba(217, 83, 79, 1) 100%
  );
  border-bottom: 6px solid grey;
  display: flex;
  align-items: center;
  user-select: none;
}

#services-title {
  font-weight: 500;
  font-variant: small-caps;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* border-radius: 20px; */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#icon-grid {
  max-width: 90%;
  min-height: 700px;
  /* background: #ffffff19; */
}

#svg {
  max-width: 40px;
  margin-right: 10px;
  margin-top: 5px;
}

/* ABOUT END */

/* CHANNELS */

#channels {
  background: #ffffff;
  /* max-height: 50px; */
  border-bottom: 6px solid grey;
  display: flex;
}

#channels-imgs {
  height: 150px;
  border: 1px solid grey;
  justify-content: center;
}

#carouselExampleSlidesOnly {
  min-width: 25%;
  display: flex;
}

@media only screen and (max-width: 768px) {
  #channels {
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: 1fr 1fr;
  }
  #carouselExampleSlidesOnly {
    min-width: 50%;
    max-height: 100px;
  }
  #channels-imgs {
    max-height: 100px;
  }
}

@media only screen and (max-width: 352px) {
  #channels {
    grid-template-columns: 1fr;
  }
  #carouselExampleSlidesOnly {
    min-width: 100%;
    /* max-height: 80px; */
  }
  #channels-imgs {
    max-height: 80px;
  }
}

/* CHANNELS END */

/* BACK BUTTON  */

.back-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
}

.back-button {
  height: 60px;
  width: 60px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  transform: rotate(180deg);
  transition: all 0.5s;
  background: GREY;
}

.back-button:hover {
  /* transform: scale(0.9); */
  transform: rotate(0deg);
  transition: all 0.5s;
  background: #d9534f;
}

.back-button-a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: x-large;
}

@media only screen and (max-width: 400px) {
  .back-button {
    width: 50px;
    height: 50px;
    text-align: center;
  }
}

/* BACK BUTTON END */

/* FOOTER */

footer {
  user-select: none;
}

/* FOOTER END */
